// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $text-color;
}

figure {
  margin: 0;

  caption {
    display: block;
    font-size: .8rem;
  }
}
