$font-family: lato, sans-serif;
$body-font-size: 16px;

$body-line-height: 1.5;
$body-font-weight: 300;

// this is the magic number, the root of our vertical rhythm
// all spacing derives from here
$step: 1.5rem;

body {
  color: $text-color;
  background-color: $light-color;
  font-family: $font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

h1, h2, p, ul, ol, input {
  margin: 0 0 $step;
}

h3 {
  margin: 0;
  font-size: $body-font-size;
}

p:last-of-type {
  margin-bottom: 0;
}

h1, h2, h3 {
  color: $heading-color;
}

h1 {
  font-size: $step*1.333;
}

h2 {
  font-size: $step;
}

.large-type {
  @include large-type;
}

a[href], a[href]:visited {
  color: $text-color;
  border-bottom: 2px solid #ddd;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid #999;
  }
}