    <div class="container">

      View <a href="{{site.repo}}">Source Code</a>

    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{site.url_theme}}js/thirdparty/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.url_theme}}js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{{site.url_theme}}js/thirdparty/ie10-viewport-bug-workaround.js"></script>
