<footer class="footer">
<ul>
  <li>
    <h2>NIGERIA</h2>
    <p>4-6 Independence Road</p>
    <p>Kano</p>
    <p>Nigeria</p>
    <p><a href="mailto://kano@ehealthafrica.org">kano@ehealthafrica.org</a></p>
  </li>
  <li>
    <h2>GERMANY</h2>
    <p>eHealth Africa Global Informatics</p>
    <p>Oranienburgerstraße xx</p>
    <p>10xxx Berlin</p>
    <p>Germany</p>
    <p><a href="mailto://berlin@ehealthafrica.org">berlin@ehealthafrica.org</a></p>
  </li>
  <li>
    <h2>LIBERIA</h2>
    <p>Congo Town</p>
    <p>Opposite Dominion Christian Church</p>
    <p>Monrovia</p>
    <p>Liberia</p>
    <p><a href="mailto://liberia@ehealthafrica.org">liberia@ehealthafrica.org</a></p>
  </li>
  <li>
    <h2>SIERRA LEONE</h2>
    <p>117 Wilkinson Rd</p>
    <p>Freetown</p>
    <p>Sierra Leone</p>
    <p><a href="mailto://sierraleone@ehealthafrica.org">sierraleone@ehealthafrica.org</a></p>
  </li>
</ul>
<p class="footer__copyright">&#169; {{ site.time | date: "%Y" }} eHealth Africa
</footer>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- build:js({.tmp,app}) /js/eha.js -->
  <script src="/js/eha.js"></script>
<!-- endbuild -->
