<head>
  <title>{{ site.title }}{% if page.title %}{{ page.title }}{% endif %}</title>

  <link rel="icon" href="/images/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link href="{{site.url_theme}}default/bootstrap.css" rel="stylesheet">

  <!-- Bootstrap theme -->
  <link href="{{site.url_theme}}default/bootstrap-ehealth.css" rel="stylesheet">

  <!-- Styleguide CSS -->
  <link href="{{site.url}}css/styleguide.css" rel="stylesheet">

  <link href="{{site.url}}css/font-awesome.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/js/thirdparty/html5shiv.min.js"></script>
    <script src="/js/thirdparty/respond.min.js"></script>
  <![endif]-->
</head>