<h4>eHealth Africa</h4>
<ul class="nav nav-sidebar">
{% for template in site.data.organization %}
  <li><a href="{% if template.url %}{{template.url}}{% else %}{{template.path}}{%endif%}">{{template.name}}</a></li>
{% endfor %}
  <li><a href="/apps/">Our apps</a></li>
</ul>

<h4>Design</h4>
<ul class="nav nav-sidebar">
{% for design in site.data.designers %}
  <li><a href="{% if design.url %}{{design.url}}{% else %}{{design.path}}{%endif%}">{{design.name}}</a></li>
{% endfor %}
</ul>
  
<h4>Develop</h4>
<ul class="nav nav-sidebar">
{% for develop in site.data.developers %}
  <li><a href="{% if develop.url %}{{develop.url}}{% else %}{{develop.path}}{%endif%}">{{develop.name}}</a></li>
  {% endfor %}
</ul>
  
<h4>Assets</h4>
<ul class="nav nav-sidebar">
{% for asset in site.data.assets %}
  <li><a href="{% if asset.url %}{{asset.url}}{% else %}{{asset.path}}{%endif%}">{{asset.name}}</a></li>
{% endfor %}
</ul>

<h4>Templates</h4>
<ul class="nav nav-sidebar">
{% for template in site.data.templates %}
  <li><a href="{% if template.url %}{{template.url}}{% else %}{{template.path}}{%endif%}">{{template.name}}</a></li>
{% endfor %}
</ul>

<h4>Glossary</h4>
<ul class="nav nav-sidebar">
  <li><a href="http://docs.ehealthafrica.org/ehealth-glossary-app/">NGO Terms</a></li>
</ul>