@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: #{inspect(map-get($breakpoints, $breakpoint))}) {
      @content;
    }
  }
}

// use rarely, if ever
@mixin max-media-query($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: #{inspect(map-get($breakpoints, $breakpoint))}) {
      @content;
    }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin large-type {
  font-size: $step / 1.2;
  line-height: $step * 1.333;
}

// assumes the existence of -320, -640, -1280 and -2560 appended files for background image
// eg. angry-goat-320.jpg, angry-goat-640.jpg, angry-goat-1280.jpg and angry-goat-2560.jpg
@mixin responsiveBGImage($name) {
  background-image: url('/img/#{$name}-320.jpg');
  background-image: -webkit-image-set(url('/img/#{$name}-320.jpg') 1x, url('/img/#{$name}-640.jpg') 2x);
  @include media-query(small) {
    background-image: url('/img/#{$name}-640.jpg');
    background-image: -webkit-image-set(url('/img/#{$name}-640.jpg') 1x, url('/img/#{$name}-1280.jpg') 2x);
  }
  @include media-query(medium) {
    background-image: url('/img/#{$name}-1280.jpg');
    background-image: -webkit-image-set(url('/img/#{$name}-1280.jpg') 1x, url('/img/#{$name}-2560.jpg') 2x);
  }
}
