$brand-color: #6db2c5;
$projects-color: #d58b4d;
$jobs-colour: #5e9fb7;

$text-color: #444444;
$heading-color: #393C44;
$light-color: #fdfdfd;

$page-width: 720px;

// responsive
$breakpoints: (
  'small': 500px,
  'medium': 800px,
  'large': 1000px,
  'huge': 1200px,
);
