.case-studies-list {
  @extend .card-list;

  @include media-query(medium) {
    margin: $step*2 0;
  }

  // override some card list stuff to make them full screen width
  @include media-query(large) {
    margin: $step*2 calc(#{$step*2} - 50vw + 50%);

    li {
      flex: 0 0 400px;
    }
  }

  a[href] {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: 200px;
    padding: $step*.5;

    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      opacity: 0.4;
      transition: opacity 0.2s;
    }

    &:hover:before {
      opacity: 0.2;
    }

    h1, p {
      position: relative;
      z-index: 2;
      color: white;
    }

    h1 {
      font-size: $step;
      font-weight: bold;
      margin: auto 0 0;
    }
  }
}