footer {
  padding: $step*2 $step*.5;
  background-color: #333344;

  a.footer-email {
    display: inline-block;
    margin-bottom: $step*2;
  }

  &, h2, a[href], a[href]:visited {
    color: #eee;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li, li p {
    margin: 0;
  }
  li {
    margin-bottom: $step*2;

    h2 {
      margin: 0;
      font-size: $body-font-size;
    }

    a {
      display: inline-block;
      margin-top: $step;
    }
  }

  @include media-query('small') {
    padding: $step*2 $step;
    text-align: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      flex: 0 0 auto;
      width: 350px;
      padding: 0 $step;
    }
  }

  @include media-query('medium') {
    a.footer-email {
      @include large-type;
    }
  }

}

.footer__copyright {
  text-align: center;
}
