.main-header .mh__home-link {
  border: 0;
}

.mh__logo {
  position: absolute;
  width: $step*6;
  margin: $step $step*.5 $step*.5;
}

.mh__nav {
  & a, & a:visited {
    color: white;
  }
}

@include max-media-query(medium) {

  // for mobile nav, we transform the entire body up over the top of it
  // then transition down on burger click
  body {
    padding-top: $step*6;
    transform: translateY(calc(-#{$step*6} - 3px));
    transition: transform .3s ease-in-out;
    margin-bottom: calc(-#{$step*6} - 3px);

    &.nav-visible {
      transform: translateY(0);
      margin-bottom: 0;
    }
  }

  .mh__show-nav {
    position: absolute;
    right: $step*.5;
    top: $step*7;
    width: $step*2;
    height: $step*2;
    padding: $step*.5;
    border-width: 0 !important;
    text-decoration: none;

    span, span:before, span:after {
      position: absolute;
      display: block;
      content: '';
      transition: transform .5s ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: $step;
      background: white;
    }
    span:before {
      top: $step*.333;
    }
    span:after {
      bottom: $step*.333;
    }

    .nav-visible & {
      span {
        background-color: transparent;
      }
      span:before, span:after {
        top: 0;
      }
      span:before {
        transform: rotate(45deg);
      }
      span:after {
        transform: rotate(-45deg);
      }
    }
  }

  .mh__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    a {
      display: block;
      padding: $step*.5;

      background-color: desaturate($brand-color, 10%);
      &:active {
        background-color: $brand-color;
      }
      .jobs & {
        background-color: desaturate($jobs-color, 10%);
        &:active {
          background-color: $jobs-color;
        }
      }
      .case-studies & {
        background-color: desaturate($case-studies-color, 10%);
        &:active {
          background-color: $case-studies-color;
        }
      }
    }
  }
}

@include media-query(medium) {
  .main-header {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 0 calc(50% - #{$page-width * .5});
    display: flex;
    align-items: center;
  }
  .mh__logo {
    top: 0;
    left: calc(50% - #{$page-width / 2});
    transform: none;
    flex: 0 0 auto;
  }
  .mh__show-nav {
    display: none;
  }
  .mh__nav, .projects .mh__nav, .jobs .mh__nav {
    flex: 1 1 auto;
    display: inline-block;
    margin-top: $step;
    padding: $step*.5;
    text-align: right;
    background-color: transparent;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;

      &:not(:first-of-type) {
        margin-left: $step;
      }
      &:not(:last-of-type) {
        margin-right: $step;
      }

      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}