body .hero {
  padding-top: $step*8;
  background-size: cover;
  background-position: center;

  h1, h2, p {
    color: white;
  }

  h1, h2 {
    width: calc(100% - #{$step});
    line-height: 1.3333;
    margin-top: 0;
    margin-bottom: $step;
  }

  h1 {
    font-size: $step*1.333;
    font-weight: bold;
    text-align: left;
  }

  p {
    @extend .large-type;
  }

  @include media-query('large') {

    padding-top: $step*12;

    h1, h2, p {
      margin-bottom: $step*2;
    }

    p:last-child, h2:last-child {
      margin-bottom: 0;
    }

    h1 {
      font-size: $step*2;
    }
  }

  .homepage & {
    background-image: url(/img/hero-homepage.jpg);
  }

  .case-studies & {
    background-image: url(/img/hero-case-studies.jpg);
  }

  .call-center & {
    background-image: url(/img/hero-call-center.jpg);
  }

  .sense-followup & {
    background-image: url(/img/hero-sense-followup@2x.jpg);
  }

  .jobs & {
    background-image: url(/img/hero-jobs.jpg);
  }

  // when there are hero elements on single articles such as project case studies or jobs
  // we need to do some calc fu to make the element go full width
  .long-form &, .jobs &, .case-studies & {
    margin: 0 - $step*2 0 - $step*.5 $step;
    padding-top: $step*10;

    @include media-query('medium') {
      margin: 0 - $step*2 calc(#{$page-width * .5} - 50vw) $step*2;
      padding: $step*10 calc(50vw - #{$page-width * .5}) $step*2;
    }
  }

}

