.homepage {
  h1 {
    font-size: $step;
    text-align: center;
  }

  .intro p, .open-source p {
    @extend .large-type;
  }

  .open-source {
    background-image: url(/img/bg-open-source.jpg);
    background-size: cover;
    background-position: center;

    color: white;

    a, a:visited {
      color: white;
    }

    .github-logo {
      display: block;
      margin: $step*2 auto 0;
    }
  }

  .jobs {
    background-color: #f0efef;

    p {
      margin-bottom: $step;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        background-color: $brand-color;
        margin-bottom: $step;
        padding: $step;
        border-radius: 3px;
        box-shadow: 0 2px 1px rgba(0,0,0,0.3);

        &:hover {
          position: relative;
          top: -1px;
          box-shadow: 0 3px 1px rgba(0,0,0,0.3);
        }

        p {
          margin: 0;
          color: white;

          &:first-child {
            font-weight: bold;
          }
        }
      }

      @include media-query('medium') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        margin: 0 - $step;

        li {
          flex: 0 0 calc(50% - #{$step*2});
          margin: $step;
        }
      }
    }
  }

  .contact {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li, li p {
      margin: 0;
    }
    li {
      margin-bottom: $step*2;

      h2 {
        margin: 0;
        font-size: $body-font-size;
      }

      a {
        display: inline-block;
        margin-top: $step;
      }
    }

    @include media-query('medium') {

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      li {
        flex: 1 1 50%;
        padding-left: $step*4;
      }
    }
  }
}
