.homepage {

  @include media-query(large) {
    .hero h1 {
      padding-right: 33%;
    }
  }

  h1 {
    font-size: $step;
    text-align: center;
  }

  .intro p, .open-source p {
    @extend .large-type;
  }

  .open-source {
    @include responsiveBGImage('bg-open-source');
    background-size: cover;
    background-position: center;

    color: white;

    a, a:visited {
      color: white;
    }

    .github-logo {
      display: block;
      margin: $step*2 auto 0;
    }
  }

  .jobs {
    background-color: #f0efef;

    p {
      margin-bottom: $step;
    }

    ul {
      @extend .card-list;
    }
  }
}
