$longform-hero-height: 500px;

.long-form {

  article {
    img {
      margin-left: 0 - $step*.5;
      margin-right: 0 - $step*.5;
      max-width: calc(100% + #{$step});
    }

    blockquote {
      margin: $step 0;
      padding: 0;

      padding: $step*.5 0;
      margin: 0 0 $step;
      border-left: $step*.1666 solid $case-studies-color;
      margin-left: 0 - $step*.5;
      margin-right: 0 - $step*.75;
      padding-left: $step*.333;
      padding-right: $step*.75;
      font-style: italic;
      background-color: #dddde3;

      @include media-query(medium) {
        padding-left: $step*.75;
        margin-left: 0;
        margin-right: 0;
        border-left: $step*.25 solid $case-studies-color;
        color: #555;
        border-radius: 0 6px 6px 0;
      }

      & cite {
        display: block;
        margin: 0;
        font-style: normal;
        font-weight: bold;

        &, & a[href] {
          color: white;
        }

        p {
          border-left: 0;
        }

        &:before {
          content: '– ';
        }
      }
    }

    @include media-query('medium') {
      p, h3, blockquote, ul, li {
        @include large-type;
      }

      h2 {
        margin-top: $step*2;
      }

      img {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        border: 1px solid #eee;
      }

    }
  }
}
