<!DOCTYPE html>
{% comment %} Add the file name as classes, plus any specified in front matter {% endcomment %}
<html class="{{ page.class }} {{ page.url | replace:'/',' ' | replace:'.html',''  }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <article class="main">
      <section class="hero">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
          <h2>{{ page.subtitle }}</h2>
        {% endif %}
        {% if page.description %}
          {{ page.description | markdownify }}
        {% endif %}
      </section>
      {{ content }}
    </article>

    {% include footer.html %}

  </body>

</html>
